load_module modules/ngx_http_js_module.so;
pid /tmp/nginx.pid;
worker_processes {{ ansible_processor_vcpus }};
events {}
http {
    js_include test.js;
    js_set $hmac gethmac;
    js_set $mac getmac;
    server {
        {% for port in listen_ports %}
        listen {{ port }};
        {% endfor %}
        server_name {{ fqdn }};                                                                                                                      
        #gzip            on;
        #gzip_types text/css application/javascript application/json;

        location /users/ {                                                                                                                                             
        proxy_pass http://127.0.0.1:8000/;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        #proxy_set_header blablabla $uri;
        proxy_set_header hmac "hmac: $hmac";
        proxy_set_header mac "mac: $mac";
        }


    }
}
